<button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
        data-bs-toggle="collapse" data-bs-target="#brand-collapse" aria-expanded="false">
  <i class="bi bi-caret-right-fill toggle-icon me-2"></i> 
  <span>Brand</span> 
  <span class="count-circle ms-2"></span>
</button>

            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#brand-collapse" aria-expanded="false">
              Brand<span id="brand-count" class="count-circle ms-2"></span>
            </button>