<%= render "shared/header" %>

<main>
  <div class="main-container">
    <div class="side-container">
      <%= render "shared/user_sidebar" %>
    </div>
    <div class="user-container">
      <p>Hello <%= current_user.nickname %>さん</p>
    </div>
  </div>
</main>
